* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif; */

:root {
    --primarycolor: #ABCDD9;
    --secondarycolor: white;
    --main-color: #D3E5EB;
    --form-color: #E9F2F5;
    --chart-font-color: #337189;
    --text-color: 222222;
    --font-size-p: 16px;
    --font-size-h: 32px;
}    

header {
    background-color: var(--primarycolor);
}

header .logo-informaat {
    padding-left: 10px;
    padding-top: 10px;
    height: 60px;
}


.header-illustration {
    width: 90%;
    padding-left: 35px;
}
  
body {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Gilroy-Bold', sans-serif;  
    padding-left: 20px;
    padding-right: 15px;
}

h2 {
    font-family: 'Gilroy-Bold', sans-serif;  
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 35px;
}

p {
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 10px;
}

.separator {
    position: relative;
    width: 100px;
    height: 200px;
  }
  
.separator::before {
    position: absolute;
    content: "";
    top: 0;
    width: 40%;
    height: 150%;
    background-color: var(--primarycolor);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
  
.separator::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 150%;
    background-color: transparent white;
}
    
ul li {
   list-style: none;
   padding-left: 20px;
   padding-top: 10px;
   padding-right: 15px;
   padding-bottom: 10px;
}

 button {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    background-color: var(--secondarycolor) ;
    border: 1px solid black;
} 

.photo-men {
    width: 100%;
    height:fit-content;

}

.logo-bedrijven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 10px;
    padding: 10px;
    width: 2%;
    max-width: 200px;
}

.illustration { 
    margin-top: 20px;
}

/* onze aanpak tekst en afbeeldingen */

.title {
    text-align: center;
    font-family: 'Gilroy-Bold', sans-serif; 
    padding-top: 20px; 
    padding-left: 50px;
}

.subtitle {
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    padding-top: 10px;
}

.illustration-img {
  object-fit: cover;
  width: 150px;
  margin-left: 90px;
  margin-right: 60px;
}

.text-approach {
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Gilroy-Bold', sans-serif; 
    padding-top: 20px; 
    padding-left: 20px;
}

h4 {
    font-family: 'Gilroy-Bold', sans-serif; 
    padding-top: 20px; 
    padding-left: 20px;
}

.list-questions{
    padding-bottom: 10px;
}

.approach ul li {
    text-align: center;
    padding-bottom: 10px;
}

/* image-slider */



.slide-container {
    width: 300px;
    height: 200px;
    display: flex;
    object-fit: cover;
    border: 2px solid white;
}

.button-arrow{
    width: 70px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    line-height: 2px;
    margin-top: 70px;
    margin-right: 170px;
}  


.image-slider{
    display: flex;
    flex-direction: row;  
    /* display: grid;
   grid-auto-flow: column; */
}


/* image-slider one */
/* .slider {
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content
}

.list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;   
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 50px;
    height:  50px;
    border-radius: 50%;
    background-color: white;
    border: none;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: white;
    left:0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

.dots li.active {
    width: 30px;
} */


/* Dit is hoe we beginnen */

section {
    background-color: var(--primarycolor);
}

.title-reconnaissance {
    color: var(--chart-font-color);
    text-transform: uppercase;
    text-align: center;
    padding: 5px ;
    padding-bottom: 20px;
    padding-top: 20px;
}

.subtitle-reconnaissance {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}
.reconnaissance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondarycolor);
    margin-left: 20px;
    margin-right:  20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
 
}

/* formulier */

form label {
    display: flex;
    flex-direction: column;
}

input  {
    padding: 5px 5px 5px 110px;
    background-color: var(--form-color);
    border: none;
}

textarea {
    padding: 5px 5px 5px 80px;
    background-color: var(--form-color);
    border: none;
}

#checkbox {
    margin-left: 20px;
    margin-bottom: -20px;
}


.title-talk-more{
    padding-bottom: 15px;
}

.linkedin {
    width: 18px;
    height: 20px;
    margin-bottom: -4px;
}

.copyright {
    margin-bottom: 10px;
}
