* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif; */

:root {
    --primarycolor: #ABCDD9;
    --secondarycolor: white;
    --main-color: #D3E5EB;
    --form-color: #E9F2F5;
    --chart-font-color: #337189;
    --text-color: 222222;
    --font-size-p: 16px;
    --font-size-h: 32px;
}    

header {
    background-color: var(--primarycolor);
}

header .logo-informaat {
    padding-left: 10px;
    padding-top: 10px;
    height: 60px;  
}

.header-illustration {
    width: 100%;
    padding-left: 35px;
}
  
body {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Gilroy-Bold', sans-serif;  
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 20px;
}

h2 {
    font-family: 'Gilroy-Bold', sans-serif;  
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 35px;
}

p {
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 10px;
}

.container-one {
    background-color: var(--main-color);

}


 .separator-illustration {
    position: relative;
    width: 100px;
    height: 300px;
    margin-bottom: -300px;
    margin-top: -5px;
  }
  
.separator-illustration::before {
    position: absolute;
    content: "";
    top: 0;
    width: 20%;
    height: 170%;
    background-color: var(--primarycolor);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
  
.separator-illustration::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 150%;
} 

     
ul li {
   list-style: none;
   padding-left: 20px;
   padding-top: 10px;
   padding-right: 15px;
   padding-bottom: 10px;
}

 button {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    background-color: var(--secondarycolor) ;
    border: 1px solid black;
    text-decoration: none;
} 

.photo-men {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.logo-bedrijven {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 10px;
    padding: 10px;
    width: 2%;
    max-width: 200px;
}

.logoImage {
    display: block;
    max-width:40px;
    max-height:20px;
    width: auto;
    height: auto;
}

.illustration { 
    margin-top: 20px;
    width: 100%;
    height:fit-content;   
}

.container-two {
    background-color: var(--primarycolor);

}
 .photo-presentation-office {
    width: 100%;
    height: auto;
} 

.separator-photo {
    position: absolute;
    width: 100px;
    height: 300px;
    margin-bottom: -300px;
    margin-top: -5px;
  }
  
.separator-photo::before {
    position: absolute;
    content: "";
    top: 0;
    left: 300px;
    width: 20%;
    height: 185%;
    background-color: var(--primarycolor);
    clip-path: polygon(100% 0, 0 0, 0 100%);
    transform: scaleX(-1);
}
  
.separator-photo::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 150%;
} 

/* onze aanpak tekst en afbeeldingen */

.container-four {
    background-color: var(--main-color);
}

.title {
    text-align: center;
    font-family: 'Gilroy-Bold', sans-serif; 
    padding-top: 20px; 
    padding-left: 50px;
}

.subtitle {
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.illustration-img {
  object-fit: cover;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* background-color: var(--primarycolor); */
  padding-bottom: 10px;
}

.text-approach {
    text-align: center;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Gilroy-Bold', sans-serif; 
    padding-top: 20px; 
    padding-left: 20px;
}

h4 {
    font-family: 'Gilroy-Bold', sans-serif; 
    padding-top: 20px; 
    padding-left: 20px;
}

.list-questions{
    padding-bottom: 10px;
}

.approach ul li {
    text-align: center;
    padding-bottom: 10px;
}

.title-project {
    padding-right: 35px;
    padding-top:  10px;
}

.logo-vanMeeuwen {
    padding-left: 20px;
    padding-top:  10px;
    padding-bottom:  10px;
    margin-right: 215px;
    width: 100px;
}

/* image-slider */

.image-slider {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    flex-direction: column;
} 

/* buttons  */

.left-button {
    width: 40px;
    height: 40px;
    margin: 0 55px 20px;
}

.right-button {
    width: 40px;
    height: 40px;
    margin: 0 55px 20px;
}

.container-five .left-button {
    transform: translate(-100%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 20px;
    padding: 8px 10px;
    line-height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 4173px;
    left: 0;
}

.container-five .right-button {
    transform: translate(-100%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size:20px;
    padding: 8px 10px;
    line-height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 4173px;
    left: 255px;
}

/* titel: Dit is hoe we beginnen */

.container-six {
    background-color: var(--primarycolor);

}

.title-reconnaissance {
    color: var(--chart-font-color);
    text-transform: uppercase;
    text-align: center;
    padding: 5px ;
    padding-bottom: 20px;
    padding-top: 20px;
}

.subtitle-reconnaissance {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.reconnaissance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondarycolor);
    margin-left: 20px;
    margin-right:  20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}

/* formulier */


label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input  {
    background-color: var(--form-color);
    border: none;
    padding: 0px 0px 0px 125px;
}

input textarea {
    background-color: var(--form-color);
    border: none;
    padding: 0px 0px 0px 100px;
}

textarea {
    border: none;
    background-color: var(--form-color);
    padding: 0px 0px 0px 100px;
}

.privacy-statement{
    padding-left: 20px;
}

.button-send {
    padding-top: 20px;
}

.title-talk-more{
    padding-bottom: 15px;
}

.photo-Susanne-van-Mulken {
    width: 100%;
    height: 100%;
}

.contact-details-susanne {
    padding-bottom: 15px;
}

.linkedin {
    width: 18px;
    height: 20px;
    margin-bottom: -4px;
}

footer {
    background-color: var(--secondarycolor);
    padding-right:  60px;
}

footer .logo-informaat {
    padding-left: 20px;
    padding-top: 10px;
    height: 60px;
}

.copyright {
    margin-bottom: 20px;
    padding-left: 20px;
}

@media (min-width:375px) {
   
    .separator-photo::before {
        left: 355px;
    }
    
    .container-five .left-button {
    position: absolute;
    top: 3970px;
    left: 0;
    }

    .container-five .right-button {
        position: absolute;
        top: 3970px;
        left: 305px;
    }

    input  {
        padding: 0px 0px 0px 165px;
    }
    
    textarea {
        padding: 0px 0px 0px 140px;
    } 
    

}

@media (min-width:425px) {
   
    .separator-photo::before {
        left: 405px;
    }
    
    .container-five .left-button {
       position: absolute;
       top: 3820px;
       left: 0;
    }

    .container-five .right-button {
        position: absolute;
        top: 3820px;
        left: 355px;
    }
     

}

@media (min-width:768px) {

    .header-illustration {
        width: 100%;
        padding-left: 35px;
    }

    .separator-illustration::before {
        width: 20%;
        height: 110%;
    }

    h1 {
     font-size: 45px;
     padding-left: 20px;
     padding-right: 15px;
     padding-top: 30px;
    } 

    h2 {
       font-size: 30px;
    }
    
    h3, h4 {
        padding-top: 30px;
        font-size: 25px;
        padding-bottom: 10px;
    }

    p {
       padding-top: 10px;
       padding-bottom: 10px;
       font-size: 20px;
    }

    ul li {
       font-size: 20px;
     }
 
    .photo-men {
        width: 100%;
        height: auto;
    }

    .title {
      text-align: left;
      padding-left: 20px;
    }

    .subtitle {
        text-align: left;
        padding-left: 20px;
    }

    .text-approach {
        text-align: left;
        padding-left: 20px;
    }

    .separator-photo::before {
        left: 748px;
        height: 122%;
    }
    
    .container-five .left-button {
        position: absolute;
        top: 3750px;
        left: 0;
     }
 
     .container-five .right-button {
         position: absolute;
         top: 3750px;
         left: 695px;
     }
    
    article.container-four {
       display: grid;
       grid-template-columns:  1fr 1fr 1fr ;
       grid-template-rows: repeat(4, max-content);
       grid-auto-flow: column;
    }

    article.container-four h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    article.container-six {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(2);
        grid-auto-flow: row;
     }
 
      article.container-six h3 {
         grid-column-start: 1;
         grid-column-end: 3;
     }

     article.container-six p {
        grid-column-start: 1;
        grid-column-end: 3;
     }

     article.container-six .pricerange {
        grid-column-start: 1;
        grid-column-end: 3;
     }
        
     article.container-seven{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: repeat(2, max-content);
        grid-auto-flow: row;
     }

     .photo-Susanne-van-Mulken {
        width: 100%;
        height: auto;
    }
}

@media (min-width:1024px) {
     
    .separator-photo::before {
        left: 1005px;
    }
    
    .container-five .left-button {
        position: absolute;
        top: 4300px;
        left: 0;
     }
 
     .container-five .right-button {
         position: absolute;
         top: 4300px;
         left: 955px;
     }
     


}


@media (min-width:1440px) {
     
    .separator-photo::before {
        left: 1420px;
    }
    
    .container-five .left-button {
        position: absolute;
        top: 5000px;
        left: 0;
     }
 
     .container-five .right-button {
         position: absolute;
         top: 5000px;
         left: 1370px;
     }
     

     
}